<div class="grid-container">
    <div class="grid-elements">
        <div class="grid-top">
            <div class="grid-title">
                Acompanhe o Pensamento das Ciências Sociais
            </div>
            <div class="grid-blog-button">
                <a href="/blog-index">Blog</a>
                <a href="/blog-index">
                    <div class="blog-button-style">➜</div>
                </a>
            </div>
        </div>
        <div class="grid-blog">
            <div class="blog-item" id="item1">
                <img src="{{ post.data.image }}" alt="">
                <a href="{{ post.url }}">
                    <span>
                        <div class="blog-grid-text">
                            <h1>
                                {{ post.data.title }}
                            </h1>
                            <p>{{ post.data.description }}</p>
                        </div>
                    </span>
                </a>
            </div>
            <div class="blog-item" id="item2">
                <img src="{{ post.data.image }}" alt="">
                <a href="{{ post.url }}">
                    <span>
                        <div class="blog-grid-text">
                            <h1>
                                {{ post.data.title }}
                            </h1>
                            <p>{{ post.data.description }}</p>
                        </div>
                    </span>
                </a>
            </div>
            <div class="blog-item" id="item3">
                <img src="{{ post.data.image }}" alt="">
                <a href="{{ post.url }}">
                    <span>
                        <div class="blog-grid-text">
                            <div class="h1-lite-text">
                                {{ post.data.title }}
                            </div>
                        </div>
                    </span>
                </a>
            </div>
            <div class="blog-item" id="item4">
                <img src="{{ post.data.image }}" alt="">
                <a href="{{ post.url }}">
                    <span>
                        <div class="blog-grid-text">
                            <div class="h1-lite-text">
                                {{ post.data.title }}
                            </div>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>