
            <div class="blog-item" id="item">
                <img src="{{ post.data.image }}" alt="">
                <a href="{{ post.url }}">
                    <span>
                        <div class="blog-grid-text">
                            <h1>
                                {{ post.data.title }}
                            </h1>
                            <p>{{ post.data.description }}</p>
                        </div>
                    </span>
                </a>
            </div>
            