<footer>
    <div class="footer-container">
      <div class="footer-objects-main">
        <div class="footer-objects1">
          <div class="footer-icon">
            <img src="/assets/blog/logo-macao-12.png" alt="">
          </div>
          <div class="footer-text">
            <div class="footer-text-title">
              Macaó
            </div>
            <div class="footer-text-p">
              Uma iniciativa vibrante e inovadora no cenário acadêmico das
              Ciências Sociais na UFSCAR. Somos um grupo horizontal que busca transcender os limites
              tradicionais da academia, desafiando e
              inspirando estudantes a se tornarem agentes de mudança social.
            </div>
            <div class="footer-sub">
              <p>Veja nossa Carta</p>
              <p class="arrow-footer">&#10140</p>
            </div>
          </div>
        </div>
        <div class="footer-objects2">
          <div class="footer-pages-main">
            <div class="footer-pages">
              <div class="footer-rainbow">
                <div class="rainbow-object">
                  <div class="red"></div>
                  <div class="yellow"></div>
                  <div class="green"></div>
                  <div class="blue"></div>
                </div>
              </div>
              <a href="/">Pagina Inicial</a>
              <a href="/#projects">Projetos</a>
              <a href="/#services">Serviços</a>
              <a href="/participe">Participe</a>
              <a href="/contact">Contato</a>
            </div>
          </div>
          <div class="footer-social-main">
            <div class="footer-social">
              <div class="footer-social-text">
                <p>Siga Macaó</p>
              </div>
              <div class="footer-social-icon">
                <a href="https://www.instagram.com/macaocso/"><img src="/assets/blog/instagram.svg" alt=""></a>
                <a href="https://www.linkedin.com/company/projeto-maca%C3%B3">
                  <img src="/assets/blog/linkedin.svg" alt="">
                </a>
              </div>
              <div class="footer-agenda-container">
                <div class="footer-agenda-title">
                  Informações
                </div>
                <div class="footer-agenda-info">
                  <p>Universidade Federal de São Carlos</p>
                  <p>projetomacao@gmail.com</p>
                </div>
              </div>
              <div class="footer-social-info">
                <p>Veja nossa Carta</p>
                <p class="arrow-footer-info">&#10140</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rights-container">
      <div class="rights-element">
        <p>© 2024 | todos os direitos reservados</p>
        <p>Desenvolvido por <a href="https://github.com/rafarang3l">Rafael Rangel</a></p>
      </div>
    </div>
  </footer>