<header>
    <div class="header">
        <div class="header-container">
            <div class="logo-element">
                <a href="/"><img src="/assets/blog/logo-macao-12.png" alt="">
                </a>
            </div>
            <div class="navbar-container">
                <div class="nav-section" id="sectionShow">
                    <div class="link-nav">
                        <a href="/" class="nav-title">Página Inicial</a>
                    </div>
                    <div class="link-nav">
                        <div class="nav-menu">
                            <div class="dropdown-title">
                                <a href="/blog-index">Blog</a>
                            </div>
                            <div class="dropdown-menu">
                                <a href="/blog">Recentes</a>
                                <a href="/blog-index">Destaque</a>
                            </div>
                        </div>
                    </div>
                    <div class="link-nav">
                        <a href="#about" class="nav-title">Sobre Nós</a>
                    </div>
                    <div class="link-nav">
                        <a href="#projects" class="nav-title">Projetos</a>
                    </div>
                    <div class="link-nav">
                        <a href="#services" class="nav-title">Serviços</a>
                    </div>
                    <div class="link-nav">
                        <a href="/contact" class="nav-title" id="contact-button">Contato</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header2-main">
            <div class="header2">
                <div class="info-header">
                    <a href="/#about">
                        <p>Sobre Nós</p>
                    </a>
                    <a href="/blog-index">
                        <p>Blog</p>
                    </a>
                    <a href="/#projects">
                        <p>Projetos</p>
                    </a>
                    <a href="/#services">
                        <p>Serviços</p>
                    </a>
                </div>
                <div class="logo-header">
                    <a href="/">
                        <img src="/assets/blog/logo-macao-12.png" alt="">
                    </a>
                </div>
                <div class="info-header">
                    <a href="/contact" class="nav-title" id="contact-button">Contato</a>
                </div>
            </div>
        </div>
    </div>
</header>