<header>
  <div class="navbar-main">
    <a href="/">
      <div class="logo">
       
      </div>
    </a>
    <div class="navbar">
      <a href="/">
        <p>Página inicial</p>
        <div class="rainbow">
          <div class="red"></div>
          <div class="yellow"></div>
          <div class="green"></div>
          <div class="blue"></div>
        </div>
      </a>
      <div class="dropdown-container">
        <div class="dropdown-title">
          <a href="/blog-index">
            <span class=blog-dropdown>Blog<svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="16px"
                height="17px"
                viewbox="0 0 16 17"
                style="enable-background:new 0 0 16 17;"
                xml:space="preserve">
                <g>
                  <g>
                    <path d="M8,16.5c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S12.4,16.5,8,16.5z M8,1.5c-3.9,0-7,3.1-7,7c0,3.9,3.1,7,7,7
                      s7-3.1,7-7C15,4.6,11.9,1.5,8,1.5z"></path>
                  </g>
                  <g>
                    <path d="M8,10l2.6-2.6L11.2,8L8,11.2L4.8,8l0.6-0.6L8,10z"></path>
                  </g>
                </g>
              </svg>
            </svg>
          </span>
        </a>
        </div>
        <ul class="dropdown-item">
          <a href="/blog-index">
            <li class="dropdown-submenu">Destaques</li>
          </a>
          <a href="/blog">
            <li class="dropdown-submenu">Recentes</li>
          </a>
        </ul>
    </div>
    <a href="/#about">
      <p>Sobre Nós</p>
      <div class="rainbow">
        <div class="red"></div>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="blue"></div>
      </div>
    </a>
    <a href="/#projects">
      <p>Projetos</p>
      <div class="rainbow">
        <div class="red"></div>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="blue"></div>
      </div>
    </a>
  </a>
  <a href="/#services">
    <p>Serviços</p>
    <div class="rainbow">
      <div class="red"></div>
      <div class="yellow"></div>
      <div class="green"></div>
      <div class="blue"></div>
    </div>
  </a>
  <a href="/contact.html">
    <button class="button-nav">Contato</button>
  </a>
</div></div><div class="header2-main">
<div class="header2">
  <div class="info-header">
    <a href="/#about">
      <p>Sobre Nós</p>
    </a>
    <a href="/blog-index">
    <p>Blog</p>
    </a>
    <a href="/#projects">
      <p>Projetos</p>
    </a>
    <a href="/#services">
      <p>Serviços</p>
    </a>
  </div>
  <div class="logo-header">
    <a href="/">
      <img src="/assets/blog/logo-macao-12.png" alt="">
    </a>
  </div>
  <div class="info-header">
    <a href="/contact.html">
      <button class="button-nav">Contato</button>
    </a>
  </div>
</div></div></header>