* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(228, 231, 233);
    font-family: 'Raleway', sans-serif;
}

.navbar-main {
    /* border: solid 10px black; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* position: fixed; */
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)); */
    height: 105px;
    width: 100%;
    display: flex;
    z-index: 1;
    position: absolute;
    transition: 0.3s;
}

.navbar-main:hover {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

@media (max-width: 575px) {
    .navbar-main {
        display: none;
    }
}

.logo {
    /* border: solid 10px black; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    cursor: pointer;
}

.logo img {
    height: auto;
    width: auto;
    margin-left: 50px;
    padding-top: 5px;
    transition: 0.2s;
}

.logo img:hover {
    filter: saturate(125%);
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }
}

.navbar {
    /* border: solid 10px orange; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}

/* @media (max-width: 800px) {
    .navbar {
        display: flex;
        flex-direction: column;

    }
} */

.navbar a {
    text-decoration: none;
    color: white;
    margin-left: 38px;
    margin-right: 25px;
    /* border-bottom: 1px black solid; */
}



.button-nav {
    border: none;
    background-color: red;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.button-nav:hover {
    background-color: #CC2A21;
}

@media (max-width:800px) {
    .navbar a {
        font-size: 16px;
        margin-left: 12px;
    }

    .button-nav {
        font-size: 12px;
    }
}

.rainbow {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 0.2s;
    opacity: 0;
    /* border: solid 10px black; */
    width: 56px;
}

.navbar a:hover .rainbow {
    margin-left: 7px;
    opacity: 1;
}

.red {
    border: solid 5px red;
    width: 25%;
}

.yellow {
    border: solid 5px yellow;
    width: 25%;
}

.green {
    border: solid 5px green;
    width: 25%;
}

.blue {
    border: solid 5px blue;
    width: 25%;

}


.header2-main {
    /* border: solid 10px red; */
    width: 100%;
    height: 150px;
    display: none;
    margin-bottom: 40px;
}


@media (max-width: 575px) {
    .header2-main {
        display: block;
        position: absolute;
    }
}

.header2 {
    /* border: solid 10px green; */
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: row;

}

.info-header {
    /* border: solid 10px pink; */
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header a {
    text-decoration: none;
    color: white;
}

.info-header p {
    /* border-bottom: 1px black solid; */
    margin: 4px;
    padding: 3px;
    font-size: 12px;
    /* font-weight: bold; */
}

.info-header button {
    margin: 2px;
}

.logo-header {
    /* border: solid 10px orange; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-header img {
    margin-top: 12px;
    height: 88px;
    /* width: 50%; */
    transition: 0.1s;

}

.logo-header img:hover {
    filter: saturate(130%);
}



.container-title {
    /* border: solid 10px red; */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("img/marble.png");
    background-size: cover;
}

@media (max-width: 800px) {
    .container-title {
        height: 240px;
    }
}

.title-objects {
    /* border: solid 10px white; */
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 12px;
}

.title-objects p {
    font-size: 5vmin;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    filter: brightness(100%);
}

.container-body {
    /* border: solid 10px orange; */
    height: 800px;
    width: 100%;
    display: flex;
}

@media (max-width:800px) {
    .container-body {
        height: auto;
        display: block;

    }
}

.container-forms {
    /* border: solid 10px blue; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px) {
    .container-forms {
        width: 100%;
    }
}

.container-text {
    /* border: solid 10px blueviolet; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px) {
    .container-text {
        width: 100%;
    }
}


.forms-objects {
    /* border: solid 10px pink; */
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 800px) {
    .forms-objects {
        margin-top: 22px;
    }
}

form {
    /* border: solid 10px teal; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
}

.title-fieldset {
    /* border: solid 10px grey; */
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 4vmin;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
}

.h1 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

.sub {
    margin-bottom: 16px;
    font-size: 12px;
    color: rgb(108, 108, 108);
}

.fieldset1 {
    /* border: solid 10px lawngreen; */
    width: 80%;
    height: 20%;
}

.fieldset2 {
    /* border: solid 10px lawngreen; */
    width: 40%;
    height: 20%;
}

.fieldset3 {
    /* border: solid 10px lawngreen; */
    width: 40%;
    height: 20%;

}

.fieldset4 {
    /* border: solid 10px lawngreen; */
    width: 80%;
    height: 20%;
}

.fieldset-button {
    /* border: solid 10px red;  */
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: end;
    margin-top: 12px;
}



.lable-forms {
    /* border: solid 10px royalblue; */
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
}

.inputemail {
    width: 100%;
}

.input-tel {
    width: 100%;
}

input {
    border: none;
    text-decoration: none;
    height: 50%;
    width: 80%;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    /* outline: solid 1px red; */
    padding: 12px;
    border-radius: 12px;
}

textarea {
    border: none;
    width: 100%;
    height: 70%;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    /* outline: 1px solid red; */
    padding: 12px;
    border-radius: 12px;
}

textarea:focus,
input:focus {
    outline: 1px solid red;
}

textarea:hover,
input:hover {
    outline: 1px solid red;
}


.button-forms {
    border: 1px red solid;
    background-color: red;
    border-radius: 12px;
    margin-top: 45px;
    height: 40px;
    width: 70px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.button-forms:hover {
    border-color: #CC2A21;
    background-color: #CC2A21;
}

@media (max-width: 800px) {
    .button-forms {
        margin-top: 20px;
    }

}

.text-objects {
    /* border: solid 10px wheat; */
    width: 90%;
    height: 90%;
    padding: 30px;
    background-color: #c0d3b3;
    border-radius: 40px;
}



@media (max-width: 800px) {
    .text-objects {
        /* border: solid 10px wheat; */
        width: 90%;
        height: 95%;
        margin: 45px 0 45px 0;
        padding: 30px;
        background-color: #c0d3b3;
        border-radius: 40px;
    }
}




.rainbow-text-container {
    display: flex;
    width: 50%;
}

.text-element {
    /* border: solid 10px gold; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-text {
    /* border: solid 10px hotpink; */
    width: 100%;
    height: 12%;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.text-element-p {
    /* border: solid 10px green; */
    height: 60%;
    width: 70%;
    margin-top: 12px;
    font-size: 14px;
}

.text-element-p p {
    margin-bottom: 12px;
}

.info-text {
    color: grey;

}

.info-text:hover {
    color: red;
}





















.footer-container {
    /* border: solid 10px black; */
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footer-objects-main {
    /* border: solid 10px orange; */
    width: 90%;
    height: 95%;
    display: flex;
}

.footer-objects1 {
    /* border: solid 10px blue; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.footer-objects2 {
    /* border: solid 10px blue; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.footer-pages-main {
    /* border: solid 10px pink ; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-pages {
    /* border: solid 10px green; */
    width: 80%;
    height: 80%;
}

.footer-pages {
    display: flex;
    flex-direction: column;
}

.footer-pages a {
    text-decoration: none;
    color: black;
    margin-bottom: 12px;
    transition: 0.1s;
    width: max-content;
}

.footer-pages a:hover {
    color: red;
}

.rainbow-object {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.footer-social-main {
    /* border: solid 10px red; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-social {
    /* border: solid 10px hotpink; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.footer-social-text p {
    /* border: solid 10px blue; */
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.footer-social-icon {
    /* border: solid 10px yellow; */
    margin-top: 12px;
    width: 100%;
}

.footer-social-icon img {
    height: 40px;
    width: 40px;
    background-color: red;
    border: solid 5px red;
    border-radius: 25px;
    transition: 0.3s;
    /* width: 55px; */
    /* height: 55px; */
}

.footer-social-icon img:hover {
    border: solid 5px cyan;
    background-color: cyan;
    filter: invert(100%);
}

.footer-icon {
    /* border: solid 10px gold; */
    height: 15%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-icon img {
    height: 62px;
    width: 54px;
}

.footer-agenda-container {
    border: solid 10ox black;
    width: 100%;
    height: auto;
    /* background-color: black; */
    font-family: 'Raleway', sans-serif;
}

.footer-agenda-title {
    font-size: 19px;
    font-weight: bold;
    margin: 12px 0 5px 0;
}

.footer-agenda-info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.footer-agenda-info p {
    margin-bottom: 4px;
    overflow: hidden;

}

.footer-social-info {
    /* border: solid 10px black; */
    height: auto;
    width: 100%;
    font-size: 14px;
    display: flex;
    margin-top: 12px;
    color: grey;
    cursor: pointer;
}

.arrow-footer-info {
    background-color: red;
    color: black;
    border-radius: 15px;
    height: 22px;
    width: 22px;
    margin-left: 7px;
    padding: 2px 0 0 5px;
}

@media (min-width: 800px) {
    .footer-social-info {
        display: none;
    }
}

.footer-text {
    /* border: solid 10px black; */
    height: 70%;
    width: 70%;
    /* margin-bottom: 12px; */
}

.footer-text-title {
    /* border: solid 10px cyan; */
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    /* margin: 12px 0 12px 0; */
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

.footer-text-p {
    /* border: solid 10px maroon; */
    max-height: 63%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    min-width: 310px;
    text-align: justify;
}

.footer-sub {
    /* border: solid 10px rebeccapurple; */
    /* overflow: visible; */
    height: 15%;
    width: max-content;
    display: flex;
    font-size: 16px;
    color: gray;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    margin-top: 12px;
}

.footer-sub:hover {
    color: red;
}

.arrow-footer {
    border: solid 1px red;
    background-color: red;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 12px;
    font-size: 12px;
    padding: 2px 0 0 5px;
}

/* cancela depois padding */

@media (max-width:800px) {
    .footer-container {
        height: 250px;
    }

    .footer-objects-main {
        width: 100%;
        height: 100%;
    }

    .footer-objects1 {
        display: none;
    }

    .footer-objects2 {
        /* border: solid 10px; */
        height: 100%;
        width: 100%;
    }

    .footer-pages {
        display: flex;
        /* padding: 12px; */
    }

    .footer-pages a {
        margin: 0 0 10px 0;
    }

    .footer-text-p {
        display: none;
    }
}

.rights-container {
    border-top: solid 1px rgb(177, 177, 177);
    height: 50px;
    width: 100%;
    background-color: white;
}

.rights-element {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 11px;
    color: grey;
}

.rights-element a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.rights-element a:hover {
    color: red;
}

@media (max-width:800px) {
    .footer-social-text {
        display: none;
    }
    .footer-icon-element{
        display: none;
    }
}