<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Macaó</title>
        <meta property="og:site_name" content="dsdnadkmdkam">
        <meta name="description" content=" Um grupo horizontal de estudantes agentes da mudança social.">
        <link rel="canonical" href="projetomacao.com.br">
        <meta name="author" content="Rafael Rangel Rodrigues">
        <meta name="robot" content="index">
        <meta property="og:title" content="Projeto Macaó"/>
        <meta property="og:description" content="Um grupo horizontal de estudantes agentes da mudança social.">
        <meta property="og:url" content="https://projetomacao.com.br/"/>
        <meta property="og:image" content="assets/blog/arara-p.png"/>
        <meta property="og:type" content="website"/>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        {% include 'header-index.njk' %}
        <div class="container-index">
            <main>
                <div class="projeto-macao">
                    PROJETO
                    <span>
                        MACAÓ
                        <div class="rainbow-macao">
                            <div class="red"></div>
                            <div class="yellow"></div>
                            <div class="green"></div>
                            <div class="blue"></div>
                        </div>
                    </span>
                </div>
                <div class="info-macao">
                    <div class="info-photo">
                        <a href="/#about">
                            <div class="overlay">
                                <div class="title-info-container">
                                    <p class="title-info">
                                        Conheça o Projeto Macaó
                                    </p>
                                </div>
                                <div class="subtitle-info-object">
                                    <p class="subtitle-info">Uma Cooperativa Júnior que pretende reduzir a lacuna entre a teoria e a prática através de um
                                        ambiente horizontal.</p>
                                </div>
                            </div>
                        </a>
                        <img src="/assets/blog/central_photo.png" alt="">
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-elements">
                        <div class="grid-top">
                            <div class="grid-title">
                                Acompanhe o Pensamento das Ciências Sociais
                            </div>
                            <div class="grid-blog-button">
                                <a href="/blog-index">Blog</a>
                                <a href="/blog-index">
                                    <div class="blog-button-style">➜</div>
                                </a>
                            </div>
                        </div>
                        <div class="grid-blog">
                            {% for post in collections.featured | reverse%}
                                {% if loop.index0 < 4 %}
                                    {% include 'blog-snippet-elements.njk' %}
                                    {% endif%}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="team-highlight">
                        <p>Conheça a Equipe</p>
                    </div>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper-photo">
                                    <img src="/assets/blog/kally-pedro-max.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-photo">
                                    <img src="/assets/blog/araracanga.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-photo">
                                    <img src="/assets/blog/foucault-art.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-photo">
                                    <img src="/assets/blog/todes-roda.png" alt="">
                                </div>
                            </div>
                            ...
                        </div>
                        <!-- swiper pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div id="about" class="about-us">
                        <div class="about-title">Sobre Nós
                            <div class="rainbow-about">
                                <div class="red"></div>
                                <div class="yellow"></div>
                                <div class="green"></div>
                                <div class="blue"></div>
                            </div>
                        </div>
                        <div class="about-info">
                            <div class="about-text">
                                <div class="title-macao-about">Macaó</div>
                                <p>Bem-vindo ao Projeto Macaó, uma iniciativa vibrante e inovadora no cenário acadêmico das Ciências Sociais na UFSCAR.
                                    Somos um grupo horizontal que busca transcender os limites tradicionais da academia, desafiando e inspirando estudantes
                                    a se tornarem agentes de mudança social.</p>
                                <p>
                                    <div class="title-about-2"></div>
                                </p>
                                <p>
                                    No coração do Macaó está o compromisso com uma abordagem horizontal e participativa. Acreditamos na igualdade de voz, na
                                    colaboração e na diversidade de perspectivas. Nossa essência reflete os valores fundamentais das Ciências Sociais,
                                    buscando compreender e abordar as complexas dinâmicas que moldam nosso mundo.</p>
                                <div class="info-rainbow">
                                    <a href="#">
                                        <div class="info-button">
                                            <div class="subtitle-about">Leia Nossa Carta</div>
                                            <div class="button-rainbow">
                                                &#10140;
                                            </div>
                                            <div class="main-rainbow-button">
                                                <div class="red-info"></div>
                                                <div class="yellow-info"></div>
                                                <div class="green-info"></div>
                                                <div class="blue-info"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="about-photo">
                                <img src="/assets/blog/araracanga.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div id="projects" class="projects-container">
                        <div class="projects-child">
                            <div class="projects-objects-title">
                                <p>Últimos</p>
                            </p>
                            Projetos</p>
                        <div class="rainbow-projects">
                            <div class="red"></div>
                            <div class="yellow"></div>
                            <div class="green"></div>
                            <div class="blue"></div>
                        </div>
                    </div>
                    <div class="projects-objects">
                        <p>Roda de Conversa</p>
                        <p class="projects-objects-subtitles">Veja Sobre a Roda de Conversa que ocorreu no dia 06/12/23
                        </p>
                    </div>
                    <div class="projects-objects-photo">
                        <img src="/assets/blog/todes-roda.png" alt="">
                    </div>
                </div>
            </div>
            <div id="services" class="services">
                <div class="services-title">
                    <div class="services-title-objects">
                        Serviços
                    </div>
                </div>
                <div class="gallery-services-main">
                    <div class="gallery-services" id="service1">
                        <p>Consultoria.</p>
                    </div>
                    <div class="gallery-services" id="service2">
                        <p>Cursos, Educação e</p>
                        <p>Treinamento</p>
                    </div>
                    <div class="gallery-services" id="service3">
                        <p>Pesquisa de Opnião.</p>
                    </div>
                    <div class="gallery-services" id="service4">
                        <p>Análise de Políticas</p>
                        <p>Públicas.</p>
                    </div>
                </div>
                <div class="services-buttons">
                    <div class="services-buttons-objects">
                        <div class="service-object">
                            <a href="">
                                <p>Veja todos os serviços</p>
                                <button>&#10140;</button>
                            </a>
                        </div>
                        <div class="service-object">
                            <a href="/contact">
                                <p>Contato</p>
                                <button>&#10140;</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capacities-container">
                <div class="capacities-title">
                    Aptidões do Cientista Social</div>
                <div class="capacities-main-objects">
                    <div class="capacities-objects">
                        <div class="capacities-number">
                            1
                        </div>
                        <div class="capacities-text">
                            <div class="capacities-text-title">
                                Pensamento Crítico
                            </div>
                            <div class="capacities-text-p">
                                Capacidade de analisar informações de forma objetiva, questionar preconceitos e examinar diferentes perspectivas.
                            </div>
                        </div>
                    </div>
                    <div class="capacities-objects">
                        <div class="capacities-number">
                            2
                        </div>
                        <div class="capacities-text">
                            <div class="capacities-text-title">
                                Comunicação Efetiva
                            </div>
                            <div class="capacities-text-p">
                                Relatórios, apresentações e publicações acadêmicas.
                            </div>
                        </div>
                    </div>
                    <div class="capacities-objects">
                        <div class="capacities-number">
                            3
                        </div>
                        <div class="capacities-text">
                            <div class="capacities-text-title">
                                Análise de Dados
                            </div>
                            <div class="capacities-text-p">
                                Coletar, organizar e interpretar dados, tanto qualitativos quanto quantitativos.
                            </div>
                        </div>
                    </div>
                    <div class="capacities-objects">
                        <div class="capacities-number">
                            4
                        </div>
                        <div class="capacities-text">
                            <div class="capacities-text-title">
                                Adaptabilidade
                            </div>
                            <div class="capacities-text-p">
                                Capacidade de se adaptar a novos ambientes, métodos de pesquisa e mudanças nas questões sociais.
                            </div>
                        </div>
                    </div>
                    <div class="capacities-objects">
                        <div class="capacities-number">
                            5
                        </div>
                        <div class="capacities-text">
                            <div class="capacities-text-title">
                                Pesquisa
                            </div>
                            <div class="capacities-text-p">
                                Conduzindo pesquisas de forma ética, incluindo a formulação de perguntas de pesquisa, o desenvolvimento de metodologias
                                e a interpretação de resultados.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-objects-main">
                    <div class="footer-objects1">
                        <div class="footer-icon">
                            <img src="/assets/blog/logo-macao-12.png" alt="">
                        </div>
                        <div class="footer-text">
                            <div class="footer-text-title">
                                Macaó
                            </div>
                            <div class="footer-text-p">
                                Uma iniciativa vibrante e inovadora no cenário acadêmico das Ciências Sociais na UFSCAR. Somos um grupo horizontal que
                                busca transcender os limites tradicionais da academia, desafiando e inspirando estudantes a se tornarem agentes de
                                mudança social.
                            </div>
                            <div class="footer-sub">
                                <p>Veja nossa Carta</p>
                                <p class="arrow-footer">&#10140</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-objects2">
                        <div class="footer-pages-main">
                            <div class="footer-pages">
                                <div class="footer-rainbow">
                                    <div class="rainbow-object">
                                        <div class="red"></div>
                                        <div class="yellow"></div>
                                        <div class="green"></div>
                                        <div class="blue"></div>
                                    </div>
                                </div>
                                <a href="/">Pagina Inicial</a>
                                <a href="/#projects">Projetos</a>
                                <a href="/#services">Serviços</a>
                                <a href="/participe">Participe</a>
                                <a href="/contact">Contato</a>
                            </div>
                        </div>
                        <div class="footer-social-main">
                            <div class="footer-social">
                                <div class="footer-social-text">
                                    <p>Siga Macaó</p>
                                </div>
                                <div class="footer-social-icon">
                                    <a href="https://www.instagram.com/macaocso/"><img src="/assets/blog/instagram.svg" alt="">
                                    </a>
                                    <a href="https://www.linkedin.com/company/projeto-maca%C3%B3">
                                        <img src="/assets/blog/linkedin.svg" alt="">
                                    </a>
                                </div>
                                <div class="footer-agenda-container">
                                    <div class="footer-agenda-title">
                                        Informações
                                    </div>
                                    <div class="footer-agenda-info">
                                        <p>Universidade Federal de São Carlos</p>
                                        <p>projetomacao@gmail.com</p>
                                    </div>
                                </div>
                                <div class="footer-social-info">
                                    <p>Veja nossa Carta</p>
                                    <p class="arrow-footer-info">&#10140</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rights-container">
                <div class="rights-element">
                    <p>© 2024 | todos os direitos reservados</p>
                    <p>Desenvolvido por
                        <a href="https://github.com/rafarang3l">Rafael Rangel</a>
                    </p>
                </div>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script><script>
const swiper = new Swiper('.swiper', {
    cssMode: true,
    loop: true,
    // Pagination
    pagination: {
        el: '.swiper-pagination'
    },
    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
    },
    keyboard: true
});</script>
</body>
</html>