<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participe</title>
    <meta name="description" content=" Um grupo horizontal de estudantes agentes da mudança social.">
    <link rel="canonical" href="projetomacao.com.br">
    <meta name="author" content="Rafael Rangel Rodrigues">
    <meta name="robot" content="index">
    <meta property="og:title" content="Projeto Macaó" />
    <meta property="og:description" content="Um grupo horizontal de estudantes agentes da mudança social.">
    <meta property="og:url" content="https://projetomacao.com.br/participe" />
    <meta property="og:image" content="/assets/blog/arara-p.png" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/participe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar-main">
            <a href="/">
                <div class="logo">
                    <img src="/assets/blog/logo-macao-12.png" alt="">
                </div>
            </a>
            <div class="navbar">
                <a href="/">
                    <p>Página inicial</p>
                    <div class="rainbow">
                        <div class="red"></div>
                        <div class="yellow"></div>
                        <div class="green"></div>
                        <div class="blue"></div>
                    </div>
                </a>
                <a href="/#about">
                    <p>Sobre Nós</p>
                    <div class="rainbow">
                        <div class="red"></div>
                        <div class="yellow"></div>
                        <div class="green"></div>
                        <div class="blue"></div>
                    </div>
                </a>
                <div class="dropdown-container">
                    <div class="dropdown-title">
                      <a href="/blog-index">
                        <span class=blog-dropdown>Blog<svg
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            width="16px"
                            height="17px"
                            viewbox="0 0 16 17"
                            style="enable-background:new 0 0 16 17;"
                            xml:space="preserve">
                            <g>
                              <g>
                                <path d="M8,16.5c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S12.4,16.5,8,16.5z M8,1.5c-3.9,0-7,3.1-7,7c0,3.9,3.1,7,7,7
                                  s7-3.1,7-7C15,4.6,11.9,1.5,8,1.5z"></path>
                              </g>
                              <g>
                                <path d="M8,10l2.6-2.6L11.2,8L8,11.2L4.8,8l0.6-0.6L8,10z"></path>
                              </g>
                            </g>
                          </svg>
                        </svg>
                      </span>
                    </a>
                    </div>
                    <ul class="dropdown-item">
                      <a href="blog-index">
                        <li class="dropdown-submenu">Destaques</li>
                      </a>
                      <a href="blog">
                        <li class="dropdown-submenu">Recentes</li>
                      </a>
                    </ul>
                </div>
                <a href="/#projects">
                    <p>Projetos</p>
                    <div class="rainbow">
                        <div class="red"></div>
                        <div class="yellow"></div>
                        <div class="green"></div>
                        <div class="blue"></div>
                    </div>
                </a>
                </a>
                <a href="/#services">
                    <p>Serviços</p>
                    <div class="rainbow">
                        <div class="red"></div>
                        <div class="yellow"></div>
                        <div class="green"></div>
                        <div class="blue"></div>
                    </div>
                </a>
                <a href="/contact"><button class="button-nav">Contato</button></a>
            </div>
        </div>
        <div class="header2-main">
            <div class="header2">
                <div class="info-header">
                    <a href="/#about">
                        <p>Sobre Nós</p>
                    </a>
                    <a href="/blog-index">
                        <p>Blog</p>
                    </a>
                    <a href="/#projects">
                        <p>Projetos</p>
                    </a>
                    <a href="/#services">
                        <p>Serviços</p>
                    </a>
                </div>
                <div class="logo-header">
                    <a href="/">
                        <img src="/assets/blog/logo-macao-12.png" alt="">
                    </a>
                </div>
                <div class="info-header">
                    <a href="/contact"><button class="button-nav">Contato</button></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-title">
            <div class="title-objects">
                <p>Participe</p>
            </div>
        </div>
        <div class="container-body">
            <div class="text-container">
                <div class="text-element">
                    <div class="h1">
                        <div class="rainbow-text-container">
                            <div class="rainbow-object">
                                <div class="red"></div>
                                <div class="yellow"></div>
                                <div class="green"></div>
                                <div class="blue"></div>
                            </div>
                        </div>
                        Por que participar?
                    </div>
                    <div class="text-element-p">
                        <p> Aqui não apenas oferecemos uma oportunidade de participação, mas sim um convite
                            para explorar e co-criar um espaço onde os conhecimentos teóricos se entrelaçam com a
                            prática
                            social que busca compreender, de forma
                            participativa, as complexas dinâmicas sociais.</p>
                        <p>Na Cooperativa Estudantil da Macaó, sua voz não apenas é valorizada, é essencial. Defendemos
                            uma
                            abordagem horizontal, onde cada membro contribui ativamente para a tomada de decisões e para
                            a
                            construção de soluções. Aqui, a diversidade de perspectivas não é apenas aceita, é
                            celebrada,
                            pois reconhecemos que é dessa diversidade que surgem as mais criativas e inovadoras soluções
                            para os desafios sociais que enfrentamos.</p>

                        <p>Além disso, ao se envolver no Macaó, você se conectará com outros estudantes das
                            Ciências Sociais, formando uma rede de apoio e colaboração. Juntos, vamos explorar novos
                            caminhos, desafiar ideias preconcebidas e construir alternativas concretas que tenham um
                            impacto
                            positivo na sociedade civil e além.</p>

                        <p>Junte-se a nós e seja parte dessa jornada de descoberta, crescimento e
                            impacto.
                            Estamos ansiosos para receber você em nossa comunidade cooperativa!</p>
                    </div>
                </div>
                <div class="forms-container">
                    <!-- <div class="inscricao">
                        <p class="sub">
                            *Ao clicar você será redirecionado ao nosso forms do processo seletivo</p>
                        <a href=""><button>
                                Inscreva-se!
                            </button>
                        </a>
                    </div> -->
                    <p>
                        Ainda não estamos chamando, qualquer dúvida entre em <a href="/contact"
                            class="contact">contato</a> conosco!
                    </p>
                </div>
            </div>
            <div class="photo-container">
                <div class="photo-element">
                    <img src="/assets/blog/arara-p.png" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-objects-main">
                <div class="footer-objects1">
                    <div class="footer-icon">
                        <img src="/assets/blog/logo-macao-12.png" alt="">
                    </div>
                    <div class="footer-text">
                        <div class="footer-text-title">
                            Macaó
                        </div>
                        <div class="footer-text-p">
                            Uma iniciativa vibrante e inovadora no cenário acadêmico das
                            Ciências Sociais na UFSCAR. Somos um grupo horizontal que busca transcender os limites
                            tradicionais da academia, desafiando e
                            inspirando estudantes a se tornarem agentes de mudança social.
                        </div>
                        <div class="footer-sub">
                            <p>Veja nossa Carta</p>
                            <p class="arrow-footer">&#10140</p>
                        </div>
                    </div>
                </div>
                <div class="footer-objects2">
                    <div class="footer-pages-main">
                        <div class="footer-pages">
                            <div class="footer-rainbow">
                                <div class="rainbow-object">
                                    <div class="red"></div>
                                    <div class="yellow"></div>
                                    <div class="green"></div>
                                    <div class="blue"></div>
                                </div>
                            </div>
                            <a href="/">Pagina Inicial</a>
                            <a href="/#projects">Projetos</a>
                            <a href="/#services">Serviços</a>
                            <a href="participe.html">Participe</a>
                            <a href="/contact">Contato</a>
                        </div>
                    </div>
                    <div class="footer-social-main">
                        <div class="footer-social">

                            <div class="footer-social-text">
                                <p>Siga Macaó</p>
                            </div>
                            <div class="footer-social-icon footer-icon-element">
                                <a href="https://www.instagram.com/macaocso/"><img src="/assets/blog/instagram.svg" alt=""></a>
                                <a href="https://www.linkedin.com/company/projeto-maca%C3%B3">
                                    <img src="/assets/blog/linkedin.svg" alt="">
                                </a>
                            </div>
                            <div class="footer-agenda-container">
                                <div class="footer-agenda-title">
                                    Informações
                                </div>
                                <div class="footer-agenda-info">
                                    <p>Universidade Federal de São Carlos</p>
                                    <p>projetomacao@gmail.com</p>
                                </div>
                            </div>
                            <div class="footer-social-info">
                                <p>Veja nossa Carta</p>
                                <p class="arrow-footer-info">&#10140</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rights-container">
            <div class="rights-element">
                <p>© 2024 | todos os direitos reservados</p>
                <p>Desenvolvido por <a href="https://github.com/rafarang3l">Rafael Rangel</a></p>
            </div>
        </div>
    </footer>
</body>

</html>